.App {
  text-align: center;
  display: grid;
  background-color: #222;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  grid-row: 1; /* row 1 of App-header */
  justify-self: center;
}

.App-header {
  background-color: #222;
  /* padding: 20px; */
  color: white;
  grid-row: 1; /* row 1 of App */
  display: grid;
}

.App-title {
  font-size: 1.5em;
  grid-row: 2;
  margin: 5px;
}

.App-date {
  font-size: 1em;
  grid-row: 3;
  margin: 5px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#ares {
  background-position: 0px 0px;
}
#taurus {
  background-position: -165px 0px;
}
#gemini {
  background-position: -325px 0px;
}
#cancer {
  background-position: -481px 0px;
}
#leo {
  background-position: 0px -175px;
}
#virgo {
  background-position: -165px -175px;
}
#libra {
  background-position: -325px -175px;
}
#scorpio {
  background-position: -481px -175px;
}
#sagittarius {
  background-position: 0px -344px;
}
#capricorn {
  background-position: -165px -344px;
}
#aquarius {
  background-position: -325px -344px;
}
#pisces {
  background-position: -481px -344px;
}
.horoscope {
  border-spacing: 0px;
  grid-row: 2; /* of app */
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 5px;
  display: grid;
  grid-gap: 0px;
}
.horoscopeRow {
  display: grid;
  grid-template-columns: 120px auto;
}
.sign {
  background-color: #222;
  color: white;
  padding: 0;
  grid-column: 1 / 2;
}
.zodiacPic {
  width: 120px;
  height: 120px;
  display: inline-block;
  background-color: #222;
  background-image: url(./images/zodiac.png);
}
.zodiacName {
  width: 120px;
}
.zodiacDates {
  width: 120px;
  margin-bottom: 15px;
}
.prediction {
  text-align: left;
  grid-column: 2;
  background-color: #222;
  color: white;
}
